{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <h1 class="display-4">
        ユーザー登録
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/user/summary')}}">ユーザー一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">ユーザー登録</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">ユーザー情報</div>
        <div class="card-body">
            {% for dset_user_error_message in dset_user_error_messages %}
                {% if dset_user_error_message != '' %}
                    <div class="alert alert-danger" role="alert">{{ dset_user_error_message }}</div>
                {% endif %}
            {% endfor %}
            <form action="{{ cs_url('/admin/user/create/update') }}" method="post">
                <div class="form-group">
                    <label for="username">ユーザー名</label>
                    <input type="text" value="{{ dset_user_values.username }}" class="form-control" id="username" name="username" placeholder="ユーザー名">
                    {% if dset_user_error_messages.username != '' %}
                        <p class="help-block">
                            <div class="alert alert-danger" role="alert">{{ dset_user_error_messages.username }}</div>
                        </p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="password">パスワード</label>
                    <input type="password" value="" class="form-control" id="password" name="password" placeholder="パスワード">
                    {% if dset_user_error_messages.password != '' %}
                        <p class="help-block">
                            <div class="alert alert-danger" role="alert">{{ dset_user_error_messages.password }}</div>
                        </p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="password2">パスワード（再入力）</label>
                    <input type="password" value="" class="form-control" id="password2" name="password2" placeholder="パスワード（再入力）">
                    {% if dset_user_error_messages.password2 != '' %}
                        <p class="help-block">
                            <div class="alert alert-danger" role="alert">{{ dset_user_error_messages.password2 }}</div>
                        </p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="email">メールアドレス</label>
                    <input type="text" value="{{ dset_user_values.email }}" class="form-control" id="email" name="email" placeholder="メールアドレス">
                    {% if dset_user_error_messages.email != '' %}
                        <p class="help-block">
                            <div class="alert alert-danger" role="alert">{{ dset_user_error_messages.email }}</div>
                        </p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="group_key">所属グループ</label>
                    <select class="form-control" id="group_key" name="group_key">
                        {% for obj in drec_group %}
                            <option value="{{ obj.group_key }}"{% if obj.group_key == dset_user_values.group_key %} selected{% endif %}>{{ obj.caption }}</option>
                        {% endfor %}
                    </select>
                    {% if dset_user_error_messages.group_key != '' %}
                        <p class="help-block">
                            <div class="alert alert-danger" role="alert">{{ dset_user_error_messages.group_key }}</div>
                        </p>
                    {% endif %}
                </div>
                <input type="submit" class="btn btn-primary" value="登録">
                <a href="{{ cs_url('/admin/user/summary') }}" class="btn btn-outline-info">戻る</a>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </form>
        </div>
    </div>

{% endblock %}
