{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <div class="page-header">
        <h1>ページ登録 - コンポーザー選択</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="{{ cs_url('admin/menu') }}">Home</a></li>
        <li><a href="{{ cs_url('admin/page/summary') }}">ページ一覧</a></li>
        <li class="active">ページ登録 - コンポーザー選択</li>
    </ol>

    <div class="list-group">
        <a href="#" class="list-group-item active">
            コンポーザーを選択してください
        </a>
        {% for obj in drec_composer %}
            <a href="{{ cs_url('admin/page/create/entry/', [dset_page_values.parent_page_id, obj.composer_key]) }}" class="list-group-item">{{ obj.caption }}</a>
        {% endfor %}
    </div>

    <div class="list-group">
        <a href="{{ cs_url('/admin/page/summary', [dset_page_values.parent_page_id]) }}" class="btn btn-default">戻る</a>
    </div>

{% endblock %}