{% extends "/controller/admin/default.twig" %}

{% block area_body_tail %}
<script type="text/javascript">
    $(function() {
        $('#page_sortable tbody').sortable({
            items: 'tr',
            handle: '.page_sortable_handle',
            cursor: 'move',
            opacity: 0.5,
            stop: function (event, ui)
            {
                var params = [];
                $("#page_sortable tbody tr").each(function() {
                    params.push($(this).attr('page_id'));
                });
                $.ajax({
                    url: "{{ cs_url('admin/page/summary/sort/') }}" + params.join('/')
                });
            }
        });
    });
</script>
{% endblock %}

{% block area_body %}

    <div class="page-header">
        <h1>ページ一覧</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="{{ cs_url('admin/menu') }}">Home</a></li>
        <li class="active">ページ一覧</li>
    </ol>

    <div>
        <a href="{{ cs_url('/admin/page/create', [drec_page_values.parent_page_id]) }}" class="btn btn-success">ページ登録</a>
    </div>

    <br>

    <ol class="breadcrumb">
        <li><a href="{{ cs_url('admin/page/summary') }}">(root)</a></li>
        {% for v in dr_beradcrumb %}
            <li><a href="{{ cs_url('admin/page/summary', [v.page_id]) }}">{{ v.page_title }}</a></li>
        {% endfor %}
    </ol>

    {% if drec_page|length == 0 %}
        <div class="alert alert-success" role="alert">ページが登録されていません。</div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">ページ一覧</div>
            <div class="table-responsive">
                <table id="page_sortable" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 12px;"></th>
                            <th style="text-align: right; width: 48px;">ID</th>
                            <th>タイトル</th>
                            <th nowrap style="width: 160px;">コンポーザー</th>
                            <th nowrap style="width: 200px;">更新日時</th>
                            <th nowrap style="width: 100px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in drec_page %}
                            <tr page_id="{{ v.page_id }}">
                                <td nowrap>
                                    <span class="glyphicon glyphicon-menu-hamburger page_sortable_handle" aria-hidden="true" style="cursor:move"></span>
                                </td>
                                <td nowrap style="text-align: right">
                                    {{ v.page_id }}
                                </td>
                                <td nowrap>
                                    <a href="{{ cs_url('admin/page/summary', [v.page_id]) }}"><span class="btn btn-xs btn-info">下層一覧</span></a>
                                    <a href="{{ cs_url('admin/page/create', [v.parent_page_id]) }}"><span class="btn btn-xs btn-primary">登録</span></a>
                                    {{ v.page_title }}
                                </td>
                                <td nowrap>
                                    {{ v.composer_key }}
                                </td>
                                <td nowarp>
                                    {{ v.updated_at | date('Y/m/d H:i:s', "Asia/Tokyo") }}
                                </td>
                                <td nowrap style="text-align: right;">
                                    <a href="{{ cs_urlp(v.page_id) }}"><span class="btn btn-xs btn-info">公開画面</span></a>
                                    <a href="{{ cs_url('/admin/page/edit', [v.page_id]) }}" class="btn btn-xs btn-primary">編集</a>
                                    <a href="{{ cs_url('/admin/page_file/summary', [v.page_id]) }}" class="btn btn-xs btn-primary">ファイル</a>
                                    {% if v.reserved == 1 %}
                                        <span class="btn btn-xs btn-danger disabled">削除</span>
                                    {% else %}                                        
                                        <a href="{{ cs_url('/admin/page/delete', [v.page_id]) }}" class="btn btn-xs btn-danger">削除</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}
