{% extends "/controller/admin/default.twig" %}

{% block area_head_top %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
{% endblock %}

{% block area_body_bottom %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script type="text/javascript">
$('#page_tree').jstree({
    'core' : {
        'check_callback' : true,
        'data' : [
{% for v in recordset_page %}
        {
            "id" : "{{ v.page_id }}",
            "parent" : "{% if v.parent_page_id == "0" %}#{% else %}{{ v.parent_page_id }}{% endif %}",
            "text" : "{{ v.page_title }}",
            "li_attr" : { "permanent_name":"{{ v.permanent_name }}" } },
{% endfor %}
        ],
    },
    'plugins' : [ 'contextmenu', 'dnd' ],
    'contextmenu': {
    "items": function($node) {
        var tree = $("#tree").jstree(true);
        return {
            "open": {
                "separator_before": false,
                "separator_after": false,
                "label": "開く",
                "action": function (obj) {
                    window.location.href = '{{ cs_url('/admin/page/open') }}' + '/' + $node.id
                }
            },
            "create": {
                "separator_before": false,
                "separator_after": false,
                "label": "作成",
                "action": function (obj) {
                    window.location.href = '{{ cs_url('/admin/page/create') }}' + '/' + $node.id
                }
            },
            "edit": {
                "separator_before": false,
                "separator_after": false,
                "label": "編集",
                "action": function (obj) { 
                    window.location.href = '{{ cs_url('/admin/page/edit') }}' + '/' + $node.id
                }
            },                         
            "delete": {
                "separator_before": false,
                "separator_after": false,
                "label": "削除",
                "action": function (obj) {
                    window.location.href = '{{ cs_url('/admin/page/delete') }}' + '/' + $node.id
                }
            },
            "page_id": {
                "separator_before": true,
                "separator_after": false,
                "label": 'page_id : ' + $node.id,
            },
            "permanet_name": {
                "separator_before": true,
                "separator_after": false,
                "label": 'permanent_name : ' + $node.li_attr.permanent_name,
            }
        }
    }
}
}).on('loaded.jstree', function() {
    $('#page_tree').jstree('open_all')
    $('#page_tree').jstree('select_node', '{{ page_id }}');
}).bind('move_node.jstree', function(e, data) {
    var va = $('#page_tree').jstree(true).get_json('#', {flat:true})
    var tx = JSON.stringify(va)
    $.post('{{ cs_url('/admin/page/sort') }}', {'page_tree': tx })
})
</script>
{% endblock %}

{% block area_body %}

    <h1 class="display-4">
        ページ一覧
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item active" aria-current="page">ページ一覧</li>
        </ol>
    </nav>

    <div>
        <a href="{{ cs_url('/admin/page/create', [parent_page_id]) }}" class="btn btn-success">ページ登録</a>
    </div>

    {% if recordset_page|length == 0 %}
        <div class="alert alert-success" role="alert">ページが登録されていません。</div>
    {% else %}
        <br>        
        [root]<br>
        <div id="page_tree"></div>
    {% endif %}

{% endblock %}
