{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <h1 class="display-4">
        タグ一覧
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item active" aria-current="page">タグ一覧</li>
        </ol>
    </nav>


    <div>
        <a href="{{ cs_url('/admin/tag/create', [parent_page_id]) }}" class="btn btn-success">タグ登録</a>
    </div>

    <br>

    {% if rs_tag|length == 0 %}
        <div class="alert alert-success" role="alert">タグが登録されていません。</div>
    {% else %}
        <p class="h4">タグ一覧</p>
        <div class="table-responsive">
            <table id="pagelist-sortable" class="table table-striped">
                <thead>
                    <tr>
                        <th nowrap>タグ</th>
                        <th nowrap>更新日時</th>
                        <th nowrap></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in rs_tag %}
                        <tr tag_id="{{ v.tag_id }}">
                            <td nowrap>
                                {{ v.caption }}
                            </td>
                            <td nowrap>
                                {{ v.updated_at | date('Y/m/d H:i:s', "Asia/Tokyo") }}
                            </td>
                            <td nowrap style="text-align: right;">
                                <a href="{{ cs_url('/admin/tag/edit', [v.tag_id]) }}" class="btn btn-primary">編集</a>
                                <a href="{{ cs_url('/admin/tag/delete', [v.tag_id]) }}" class="btn btn-danger">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
