{% extends "/controller/admin/default.twig" %}

{% block area_body_tail %}
<script type="text/javascript">
    $(function() {
        $('#block_sortable tbody').sortable({
            items: 'tr',
            handle: '.block_sortable_handle',
            cursor: 'move',
            opacity: 0.5,
            stop: function (event, ui)
            {
                var params = [];
                $("#block_sortable tbody tr").each(function() {
                    params.push($(this).attr('block_key'));
                });
                $.ajax({
                    url: "{{ cs_url('admin/composer_block/summary/sort/') }}" + params.join('/')
                });
            }
        });
    });
</script>
{% endblock %}

{% block area_body %}

    <h1 class="display-4">
        コンポーザー・ブロック一覧
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item active" aria-current="page">コンポーザー・ブロック一覧</li>
        </ol>
    </nav>

    <div>
        <a href="{{ cs_url('/admin/composer_block/create', [ composer_key ]) }}" class="btn btn-success">コンポーザー・ブロック登録</a>
    </div>

    <br>

    {% if rs_composer_block|length == 0 %}
        <div class="alert alert-success" role="alert">コンポーザー・ブロックが登録されていません。</div>
    {% else %}
        <p class="h4">コンポーザー・ブロック一覧</p>
        <div class="table-responsive">
            <table id="block_sortable" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 12px;"></th>
                        <th nowrap>ブロック・キー</th>
                        <th nowrap>ブロック名</th>
                        <th nowrap>更新日時</th>
                        <th nowrap></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in rs_composer_block %}
                        <tr block_key="{{ v.block_key }}">
                            <td nowrap>
                                <div class="block_sortable_handle" style="cursor:move">[=]</div>
                            </td>
                            <td nowrap>
                                {{ v.block_key }}
                            </td>
                            <td nowrap>
                                {{ v.caption }}
                            </td>
                            <td nowrap>
                                {{ v.updated_at | date('Y/m/d H:i:s', "Asia/Tokyo") }}
                            </td>
                            <td nowrap style="text-align: right;">
                                <a href="{{ cs_url('/admin/composer_block/edit', [v.composer_key, v.composer_block_key]) }}" class="btn btn-primary">編集</a>
                                <a href="{{ cs_url('/admin/composer_block/delete', [v.composer_key, v.composer_block_key]) }}" class="btn btn-danger">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </dov>
    {% endif %}

{% endblock %}
