{% extends "/controller/admin/default.twig" %}

{% block area_body_tail %}
<script type="text/javascript">
    $(function() {
        $('#category_sortable tbody').sortable({
            items: 'tr',
            handle: '.category_sortable_handle',
            cursor: 'move',
            opacity: 0.5,
            stop: function (event, ui)
            {
                var params = [];
                $("#category_sortable tbody tr").each(function() {
                    params.push($(this).attr('category_id'));
                });
                $.ajax({
                    url: "{{ cs_url('admin/category/summary/sort/') }}" + params.join('/')
                });
            }
        });
    });
</script>
{% endblock %}

{% block area_body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">カテゴリ一覧</li>
        </ol>
    </nav>

    <h1 class="display-4">
        カテゴリ一覧
    </h1>

    <div>
        <a href="{{ cs_url('/admin/category/create', [parent_category_id]) }}" class="btn btn-success">カテゴリ登録</a>
    </div>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/category/summary') }}">(root)</a></li>
            {% for v in drec_breadcrumb %}
                <li class="breadcrumb-item"><a href="{{ cs_url('admin/category/summary', [v.category_id]) }}">{{ v.caption }}</a></li>
            {% endfor %}
        </ol>
    </nav>

    {% if drec_category|length == 0 %}
        <div class="alert alert-success" role="alert">カテゴリが登録されていません。</div>
    {% else %}
        <p class="h4">カテゴリ一覧</p>
        <div class="table-responsive">
            <table id="category_sortable" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 12px;"></th>
                        <th>見出し</th>
                        <th nowrap style="width: 200px;">更新日時</th>
                        <th nowrap style="width: 180px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in drec_category %}
                        <tr category_id="{{ v.category_id }}">
                            <td>
                                <div class="category_sortable_handle" style="cursor:move">[=]</span>
                            </td>
                            <td>
                                <a href="{{ cs_url('/admin/category/summary', [v.category_id]) }}" class="btn btn-xs btn-info">下層一覧</a>
                                <a href="{{ cs_url('/admin/category/create', [v.category_id]) }}" class="btn btn-xs btn-primary">登録</a>
                                <a href="{{ cs_url('admin/category/summary', [v.category_id]) }}">{{ v.caption }}</a>
                            </td>
                            <td>
                                {{ v.updated_at | date('Y/m/d H:i:s', "Asia/Tokyo") }}
                            </td>
                            <td style="text-align: right;">
                                {% if v.category_id != 0 %}
                                    <a href="{{ cs_url('/admin/category/edit', [v.category_id]) }}" class="btn btn-xs btn-primary">編集</a>
                                    {% if v.number_of_child_category == 0 %}
                                        <a href="{{ cs_url('/admin/category/delete', [v.category_id]) }}" class="btn btn-xs btn-danger">削除</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
