{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <h1 class="display-4">Dashboard</h1>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">メニュー</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="h6">ページ</p>
                <hr>
                <a href="{{ cs_url('/admin/page/summary') }}">ページ管理</a><br>
                <a href="{{ cs_url('/admin/category/summary') }}">カテゴリ管理</a><br>
                <a href="{{ cs_url('/admin/tag/summary') }}">タグ管理</a><br>
            </div>
            <div class="col-md-3">
                <p class="h6">スタック</p>
                <hr>
                <a href="{{ cs_url('/admin/stackgroup/summary') }}">スタック管理</a><br>
            </div>
            <div class="col-md-3">
                <p class="h6">メディア</p>
                <hr>
                <a href="{{ cs_url('/admin/mediafolder/summary') }}">メディア管理</a><br>
            </div>
            <br>
        </div>

        <br>
        <br>

        {% if has_access('full') == true %}
            <div class="row">
                <div class="col-md-3">
                    <p class="h6">コンポーザー・ブロック</p>
                    <hr>
                    <a href="{{ cs_url('/admin/composer/summary') }}">コンポーザー管理</a><br>
                    <a href="{{ cs_url('/admin/block/summary') }}">ブロック管理</a><br>
                </div>
                <div class="col-md-3">
                    <p class="h6">ユーザー<p>
                    <hr>
                    <a href="{{ cs_url('/admin/user/summary') }}">ユーザー管理</a><br>
                    <a href="{{ cs_url('/admin/group/summary') }}">グループ管理</a><br>
                    <a href="{{ cs_url('/admin/roll/summary') }}">ロール管理</a><br>
                </div>
            </div>
        {% endif %}

    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <p class="h6">非公開になっているページ</p>
            {% if drec_page_disabled|length == 0 %}
                <div class="alert alert-success" role="alert">非公開のページはありません。</div>
            {% else %}
                <div class="table-responsive">
                    <table id="pagelist-sortable" class="table table-striped">
                        <thead>
                            <tr>
                                <th nowrap>タイトル</th>
                                <th nowrap">更新日時</th>
                                <th nowrap style="width: 100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for v in drec_page_disabled %}
                                <tr page_id="{{ v.page_id }}">
                                    <td nowrap>
                                        {{ v.page_title }}
                                    </td>
                                    <td nowarp>
                                        {% if v.created_at != v.updated_at %}
                                            {{ v.updated_at | date('Y/m/d H:i:s', "Asia/Tokyo") }}
                                        {% endif %}
                                    </td>
                                    <td nowrap style="text-align: right;">
                                        <a href="{{ cs_urlp(v.page_id) }}"><span class="btn btn-info">preview</span></a>
                                        <a href="{{ cs_url('/admin/page/edit', [v.page_id]) }}" class="btn btn-primary">編集</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
