{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <h1 class="display-4">Dashboard</h1>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">メニュー</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item list-group-item-action active" href="#">
                    ページ操作
                </a>
                <a class="list-group-item list-group-item-action" href="{{ cs_url('/admin/page/summary') }}">ページ管理</a>
                <a class="list-group-item list-group-item-action" href="{{ cs_url('/admin/category/summary') }}">カテゴリ管理</a>
                <a class="list-group-item list-group-item-action" href="{{ cs_url('/admin/tag/summary') }}">タグ管理</a>
            </div>
            <br>
            <div class="list-group">
                <a class="list-group-item list-group-item-action active" href="#" >
                    メディア操作
                </a>
                <a class="list-group-item list-group-item-action" href="{{ cs_url('/admin/mediafolder/summary') }}">メディア管理</a>
            </div>
            <br>
            {% if has_access('full') == true %}
                <div class="list-group">
                    <a class="list-group-item list-group-item-action active" href="#">
                        コンポーザー・ブロック操作
                    </a>
                    <a class="list-group-item list-group-item-action" href="{{ cs_url('/admin/composer/summary') }}">コンポーザー管理</a>
                    <a class="list-group-item list-group-item-action" href="{{ cs_url('/admin/block/summary') }}">ブロック管理</a>
                </div>
                <br>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action active" href="#">
                        スタック・グループ・スタック操作
                    </a>
                    <a class="list-group-item list-group-item-action" href="{{ cs_url('/admin/stackgroup/summary') }}">スタック管理</a>
                </div>
                <br>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action active" href="#">
                        ユーザー操作
                    </a>
                    <a class="list-group-item list-group-item-action" href="{{ cs_url('/admin/user/summary') }}">ユーザー管理</a>
                </div>
                <br>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action active" href="#">
                        基本
                    </a>
                    <a class="list-group-item list-group-item-action" ref="{{ cs_url('/admin/basic/info') }}">情報</a>
                </div>
            {% endif %}
        </div>

        <div class="col-md-8">

            {% if drec_page_disabled|length == 0 %}
                <div class="alert alert-success" role="alert">非公開のページはありません。</div>
            {% else %}
                    <p class="h4">非公開になっているページ</p>
                    <div class="table-responsive">
                        <table id="pagelist-sortable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th nowrap>タイトル</th>
                                    <th nowrap">更新日時</th>
                                    <th nowrap style="width: 100px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for v in drec_page_disabled %}
                                    <tr page_id="{{ v.page_id }}">
                                        <td nowrap>
                                            {{ v.page_title }}
                                        </td>
                                        <td nowarp>
                                            {% if v.created_at != v.updated_at %}
                                                {{ v.updated_at | date('Y/m/d H:i:s', "Asia/Tokyo") }}
                                            {% endif %}
                                        </td>
                                        <td nowrap style="text-align: right;">
                                            <a href="{{ cs_urlp(v.page_id) }}"><span class="btn btn-xs btn-info">preview</span></a>
                                            <a href="{{ cs_url('/admin/page/edit', [v.page_id]) }}" class="btn btn-xs btn-primary">編集</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
            <center>chopstick cms 2017</center>
        </div>
    </div>

{% endblock %}
