{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <h1 class="display-4">
        コンポーザー・ブロック編集
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/composer_block/summary', [ dset_composer_block_values.composer_key ]) }}">コンポーザー・ブロック一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">コンポーザー・ブロック編集</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">コンポーザー・ブロックの編集</div>
        <div class="card-body">
            {% for dset_composer_block_error_message in dset_composer_block_error_messages %}
                {% if dset_composer_block_error_message != '' %}
                    <div class="alert alert-danger" role="alert">{{ dset_composer_block_error_message }}</div>
                {% endif %}
            {% endfor %}
            <form action="{{ cs_url('/admin/composer_block/edit/update') }}" method="post">
                <div class="form-group">
                    <label class="control-label">コンポーザー・キー</label>
                    <div>
                        <p class="form-control-static">{{ dset_composer_block_values.composer_key }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">コンポーザー・ブロック・キー</label>
                    <div>
                        <p class="form-control-static">{{ dset_composer_block_values.composer_block_key }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">ブロック・キー</label>
                    <div>
                        <p class="form-control-static">{{ dset_composer_block_values.block_key }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title">ブロック名</label>
                    <input type="text" value="{{ dset_composer_block_values.caption }}" class="form-control" id="caption" name="caption" placeholder="ブロック名">
                    {% if dset_composer_block_error_messages.caption != '' %}
                        <p class="help-block">
                            <div class="alert alert-danger" role="alert">{{ dset_composer_block_error_messages.caption }}</div>
                        </p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="title">説明</label>
                    <input type="text" value="{{ dset_composer_block_values.description }}" class="form-control" id="description" name="description" placeholder="説明">
                    {% if dset_composer_block_error_messages.description != '' %}
                        <p class="help-block">
                            <div class="alert alert-danger" role="alert">{{ dset_composer_block_error_messages.description }}</div>
                        </p>
                    {% endif %}
                </div>
                <input type="submit" class="btn btn-primary" value="更新">
                <a href="{{ cs_url('/admin/composer_block/summary', [ dset_composer_block_values.composer_key ]) }}" class="btn btn-outline-info">戻る</a>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" id="composer_key" name="composer_key" value="{{ dset_composer_block_values.composer_key }}">
                <input type="hidden" id="composer_block_key" name="composer_block_key" value="{{ dset_composer_block_values.composer_block_key }}">
                <input type="hidden" id="block_key" name="block_key" value="{{ dset_composer_block_values.block_key }}">
            </form>
        </div>
    <div>

{% endblock %}
