{% extends "/csroot/controller/admin/default.twig" %}

{% block area_body_bottom %}
<script type="text/javascript">
    $(function() {
        $('#stack_sortable tbody').sortable({
            items: 'tr',
            handle: '.stack_sortable_handle',
            cursor: 'move',
            opacity: 0.5,
            stop: function (event, ui)
            {
                var params = [];
                $("#stack_sortable tbody tr").each(function() {
                    params.push($(this).attr('stack_key'));
                });
                $.ajax({
                    url: "{{ cs_url('cscms/admin/stack/summary/sort/') }}" + params.join('/')
                });
            }
        });
    });
</script>
{% endblock %}

{% block area_body %}

    <h1 class="display-4">
        スタック一覧
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('csroot/admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item active" aria-current="page">スタック一覧</li>
        </ol>
    </nav>

    <div>
        <a href="{{ cs_url('/cscms/admin/stack/create', [ stackgroup_id ]) }}" class="btn btn-success">スタック登録</a>
    </div>

    <br>

    {% if rs_stack|length == 0 %}
        <div class="alert alert-success" role="alert">スタックが登録されていません。</div>
    {% else %}
        <p class="h4">スタック一覧</p>
        <div class="table-responsive">
            <table id="stack_sortable" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 12px;"></th>
                        <th nowrap>スタック・グループ</th>
                        <th nowrap>スタック・キー</th>
                        <th nowrap>説明</th>
                        <th nowrap>更新日時</th>
                        <th nowrap></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in rs_stack %}
                        <tr stack_key="{{ v.stack_key }}">
                            <td nowrap>
                                <div class="stack_sortable_handle" style="cursor:move">[=]</div>
                            </td>
                            <td nowrap>
                                {{ v.stackgroup_caption }}
                            </td>
                            <td nowrap>
                                {{ v.stack_key }}
                            </td>
                            <td nowrap>
                                {{ v.description }}
                            </td>
                            <td nowrap>
                                {{ v.updated_at | date('Y/m/d H:i', "Asia/Tokyo") }}
                            </td>
                            <td nowrap style="text-align: right;">
                                <a href="{{ cs_url('/cscms/admin/stack/edit', [v.stack_key]) }}" class="btn btn-primary">編集</a>
                                <a href="{{ cs_url('/cscms/admin/stack/delete', [v.stack_key]) }}" class="btn btn-danger">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
