{% extends "/controller/admin/default.twig" %}

{% block area_body_tail %}
<script type="text/javascript">
    $(function() {
        $('#roll_sortable tbody').sortable({
            items: 'tr',
            handle: '.roll_sortable_handle',
            cursor: 'move',
            opacity: 0.5,
            stop: function (event, ui)
            {
                var params = [];
                $("#roll_sortable tbody tr").each(function() {
                    params.push($(this).attr('roll_key'));
                });
                $.ajax({
                    url: "{{ cs_url('admin/roll/summary/sort/') }}" + params.join('/')
                });
            }
        });
    });
</script>
{% endblock %}

{% block area_body %}

    <h1 class="display-4">
        ロール一覧
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item active" aria-current="page">ロール一覧</li>
        </ol>
    </nav>

    <div>
        <a href="{{ cs_url('/admin/roll/create') }}" class="btn btn-success">ロール登録</a>
    </div>

    <br>

    {% if rs_roll|length == 0 %}
        <div class="alert alert-success" role="alert">ロールが登録されていません。</div>
    {% else %}
        <p class="h4">ロール一覧</p>
        <div class="table-responsive">
            <table id="roll_sortable" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 12px;"></th>
                        <th nowrap>ロール・キー</th>
                        <th nowrap>見出し</th>
                        <th nowrap>更新日時</th>
                        <th nowrap></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in rs_roll %}
                        <tr roll_key="{{ v.roll_key }}">
                            <td nowrap>
                                <div class="roll_sortable_handle" style="cursor:move">[=]</div>
                            </td>
                            <td nowrap>
                                {{ v.roll_key }}
                            </td>
                            <td nowrap>
                                {{ v.caption }}
                            </td>
                            <td nowrap>
                                {{ v.updated_at | date('Y/m/d H:i', "Asia/Tokyo") }}
                            </td>
                            <td nowrap style="text-align: right;">
                                <a href="{{ cs_url('/admin/roll/edit', [v.roll_key]) }}" class="btn btn-primary">編集</a>
                                {% if v.reserved == 1 %}
                                    <span class="btn btn-danger disabled">削除</span>
                                {% else %}                                        
                                    <a href="{{ cs_url('/admin/roll/delete', [v.roll_key]) }}" class="btn btn-danger">削除</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
