{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item active" aria-current="page">ブロック一覧</li>
        </ol>
    </nav>

    {% if drec_block_1|length == 0 %}
        <div class="alert alert-success" role="alert">ブロック（未インストール）はありません。</div>
    {% else %}
        <p class="h4">ブロック一覧（未インストール）</p>
        <div class="table-responsive">
            <table id="pagelist-sortable" class="table table-striped">
                <thead>
                    <tr>
                        <th nowrap>ブロック</th>
                        <th nowrap></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in drec_block_1 %}
                        <tr template_key="{{ v.block_key }}">
                            <td nowrap>
                                <b>{{ v.name }}</b><br>
                                {{ v.description }}<br>
                                {{ v.block_key }} ( Version.{{ v.version }} )
                            </td>
                            <td nowrap style="text-align: right;">
                                <a href="{{ cs_url('/admin/block/create', [v.block_key]) }}" class="btn btn-xs btn-primary">インストール</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if drec_block_2|length == 0 %}
        <div class="alert alert-success" role="alert">ブロック（インストール済）はありません。</div>
    {% else %}
        <p class="h4">ブロック一覧（インストール済）</p>
        <div class="table-responsive">
            <table id="pagelist-sortable" class="table table-striped">
                <thead>
                    <tr>
                        <th nowrap>ブロック</th>
                        <th nowrap></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in drec_block_2 %}
                        <tr template_key="{{ v.block_key }}">
                            <td nowrap>
                                <b>{{ v.name }}</b><br>
                                {{ v.description }}<br>
                                {{ v.block_key }} ( Version.{{ v.install_version }} )
                            </td>
                            <td nowrap style="text-align: right;">
                                <a href="{{ cs_url('/admin/block/edit', [v.block_key]) }}" class="btn btn-xs btn-primary">アップデート</a>
                                <a href="{{ cs_url('/admin/block/delete', [v.block_key]) }}" class="btn btn-xs btn-danger">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
