{% extends "/csroot/controller/admin/default.twig" %}

{% block area_body %}

    <h1 class="display-4">
        ユーザー削除
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('csroot/admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/user/summary')}}">ユーザー一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">ユーザー削除</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">ユーザー情報</div>
        <div class="card-body">
            <form action="{{ cs_url('/admin/user/delete/update') }}" method="post">
                <div class="form-group">
                    <label class="control-label">ユーザー名</label>
                    <div>
                        <p class="form-control-static">{{ dset_user_values.username }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">所属グループ</label>
                    <div>
                        <p class="form-control-static">{{ dset_user_values.group_caption }}</p>
                    </div>
                </div>
                <input type="submit" class="btn btn-danger" value="削除">
                <a href="{{ cs_url('/admin/user/summary') }}" class="btn btn-outline-info">戻る</a>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="user_id" value="{{ dset_user_values.user_id }}">
            </form>
        </div>
    </div>

{% endblock %}
