<div id="{{ id }}" class="{{ class }}">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ cs_urlp(1) }}">HOME</a></li>
        {% for obj in drec_breadcrumb %}
            {%if obj.page_id != 1 %}
                <li class="breadcrumb-item"><a href="{{ cs_urlp(obj.page_id) }}">{{ obj.breadcrumb_caption }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
</div>
