{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <div class="page-header">
        <h1>フォルダ一覧</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="{{ cs_url('admin/menu') }}">Home</a></li>
        <li class="active">フォルダ一覧</li>
    </ol>

    <div>
        <a href="{{ cs_url('/admin/mediafolder/create') }}" class="btn btn-success">フォルダ登録</a>
    </div>

    <br>

    {% if drec_folder|length == 0 %}
        <div class="alert alert-success" role="alert">フォルダが登録されていません。</div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">フォルダ一覧</div>
            <table id="folder_sortable" class="table table-striped">
                <thead>
                    <tr>
                        <th>フォルダ名</th>
                        <th nowrap style="width: 160px;">更新日時</th>
                        <th nowrap style="width: 180px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in drec_folder %}
                        <tr folder_id="{{ v.mediafolder_id }}">
                            <td>
                                <a href="{{ cs_url('/admin/media/summary', [v.mediafolder_id]) }}" class="btn btn-xs btn-info">ファイル一覧</a>
                                <a href="{{ cs_url('/admin/media/create', [v.mediafolder_id]) }}" class="btn btn-xs btn-primary">登録</a>
                                {{ v.caption }}
                            </td>
                            <td>
                                {{ v.updated_at | date('Y/m/d H:i', "Asia/Tokyo") }}
                            </td>
                            <td style="text-align: right;">
                                <a href="{{ cs_url('/admin/mediafolder/edit', [v.mediafolder_id]) }}" class="btn btn-xs btn-primary">編集</a>
                                <a href="{{ cs_url('/admin/mediafolder/delete', [v.mediafolder_id]) }}" class="btn btn-xs btn-danger">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
