<div id="{{ id }}" class="{{ class }}">
    {% for v in rs_pagelist %}
        {% if v.external_link == '' %}
            <a href="{{ cs_urlp(v.page_id) }}">{{ v.page_title }}</a>
        {% else %}
            <a href="{{ v.external_link }}">{{ v.page_title }}</a>
        {% endif %}
        <br>
    {% endfor %}
</div>
