{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <h1 class="display-4">
        スタック削除
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/stack/summary', [ dset_stack_values.stackgroup_id]) }}">スタック一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">スタック削除</li>
        </ol>
    </nav>

    <form action="{{ cs_url('/admin/stack/delete/update') }}" method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">基本情報</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="control-label">スタック・グループ</label>
                            <div>
                                <p class="form-control-static">{{ dset_stack_values.stackgroup_caption }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">スタック・キー</label>
                            <div>
                                <p class="form-control-static">{{ dset_stack_values.stack_key }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">本文</label>
                            <div>
                                {{ dset_stack_values.content|nl2br }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">説明</label>
                            <div>
                                <p class="form-control-static">{{ dset_stack_values.description }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-danger" value="削除">
                            <a href="{{ cs_url('/admin/stack/summary', [ dset_stack_values.stackgroup_id ]) }}" class="btn btn-outline-info">戻る</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">公開設定</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="control-label">状態</label>
                            <div>
                                <p class="form-control-static">
                                    {% if (dset_stack_values.publish_status == -2) %}下書{% endif %}
                                    {% if (dset_stack_values.publish_status == -1) %}レビュー待ち{% endif %}
                                    {% if (dset_stack_values.publish_status ==  1) %}公開{% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">公開設定</label>
                            <div>
                                <p class="form-control-static">
                                    {% if (dset_stack_values.publish_type == 0) %}非公開{% endif %}
                                    {% if (dset_stack_values.publish_type == 1) %}公開{% endif %}
                                    {% if (dset_stack_values.publish_type == 2) %}時間指定{% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">開始日時</label>
                            <div>
                                <p class="form-control-static">{{ (dset_stack_values.publish_start == '') ? '(未設定)' : dset_stack_values.publish_start }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">終了日時</label>
                            <div>
                                <p class="form-control-static">{{ (dset_stack_values.publish_end == '') ? '(未設定)' : dset_stack_values.publish_end }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="stack_key" value="{{ dset_stack_values.stack_key }}">
    </form>

{% endblock %}
