{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <div class="page-header">
        <h1>コンポーザー削除</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="{{ cs_url('admin/menu') }}">Home</a></li>
        <li><a href="{{ cs_url('admin/composer/summary') }}">コンポーザー一覧</a></li>
        <li class="active">コンポーザー削除</li>
    </ol>

    <form action="{{ cs_url('/admin/composer/delete/update') }}" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">コンポーザーの削除</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">コンポーザー・キー</label>
                    <div>
                        <p class="form-control-static">{{ dset_composer_values.composer_key }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">コンポーザー名</label>
                    <div>
                        <p class="form-control-static">{{ dset_composer_values.caption }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">コンポーザー・テンプレート</label>
                    <div>
                        <p class="form-control-static">{{ dset_composer_values.composer_template|nl2br }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="削除">
                    <a href="{{ cs_url('/admin/composer/summary') }}" class="btn btn-default">戻る</a>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="composer_key" value="{{ dset_composer_values.composer_key }}">
    </form>

{% endblock %}
