{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <h1 class="display-4">
        ロール削除
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/roll/summary') }}">ロール一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">ロール削除</li>
        </ol>
    </nav>

    <form action="{{ cs_url('/admin/roll/delete/update') }}" method="post">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">ロール削除</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="control-label">ロール・キー</label>
                            <div>
                                <p class="form-control-static">{{ dset_roll_values.roll_key }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">見出し</label>
                            <div>
                                {{ dset_roll_values.caption }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">説明</label>
                            <div>
                                <p class="form-control-static">{{ dset_roll_values.description }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-danger" value="削除">
                            <a href="{{ cs_url('/admin/roll/summary', [ dset_roll_values.roll_key ]) }}" class="btn btn-outline-info">戻る</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="roll_key" value="{{ dset_roll_values.roll_key }}">
    </form>

{% endblock %}
