{% extends "/controller/admin/default.twig" %}

{% block area_body_tail %}
{% endblock %}

{% block area_body %}

    <div class="page-header">
        <h1>ファイル一覧</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="{{ cs_url('admin/menu') }}">Home</a></li>
        <li><a href="{{ cs_url('admin/mediafolder/summary') }}">フォルダ一覧</a></li>
        <li class="active">ファイル一覧</li>
    </ol>

    <div>
        <a href="{{ cs_url('/admin/media/create', [mediafolder_id]) }}" class="btn btn-success">ファイル登録</a>
    </div>

    <br>

    <ol class="breadcrumb">
        <li class="active">{{ mediafolder_caption }}</li>
    </ol>

    {% if drec_media|length == 0 %}
        <div class="alert alert-success" role="alert">ファイルが登録されていません。</div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">ファイル一覧</div>
            <table id="pagelist-sortable" class="table table-striped">
                <thead>
                    <tr>
                        <th width="160px"></th>
                        <th>ファイル名</th>
                        <th nowrap style="width: 160px;">更新日時</th>
                        <th nowrap style="width: 180px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in drec_media %}
                        <tr folder_id="{{ v.media_id }}">
                            <td>
                                    <img src="{{ cs_url('/cms_media/thumbnail', [v.media_id]) }}">
                            </td>
                            <td>
                                {{ cs_url('/cms_media', [v.media_id]) }}<br>
                                {{ v.description }}
                            </td>
                            <td>
                                {{ v.updated_at | date('Y/m/d H:i', "Asia/Tokyo") }}
                            </td>
                            <td style="text-align: right;">
                                <a href="{{ cs_url('/admin/media/edit', [v.media_id]) }}" class="btn btn-xs btn-primary">編集</a>
                                <a href="{{ cs_url('/admin/media/delete', [v.media_id]) }}" class="btn btn-xs btn-danger">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
