{% extends "/controller/admin/default.twig" %}

{% block area_body_tail %}
<script type="text/javascript">
    $(function() {
        $('#composer_sortable tbody').sortable({
            items: 'tr',
            handle: '.composer_sortable_handle',
            cursor: 'move',
            opacity: 0.5,
            stop: function (event, ui)
            {
                var params = [];
                $("#composer_sortable tbody tr").each(function() {
                    params.push($(this).attr('composer_key'));
                });
                $.ajax({
                    url: "{{ cs_url('admin/composer/summary/sort/') }}" + params.join('/')
                });
            }
        });
    });
</script>
{% endblock %}

{% block area_body %}

    <div class="page-header">
        <h1>コンポーザー一覧</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="{{ cs_url('admin/menu') }}">Home</a></li>
        <li class="active">コンポーザー一覧</li>
    </ol>

    <div>
        <a href="{{ cs_url('/admin/composer/create') }}" class="btn btn-success">コンポーザー登録</a>
    </div>

    <br>

    {% if drec_composer|length == 0 %}
        <div class="alert alert-success" role="alert">コンポーザーが登録されていません。</div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">コンポーザー一覧</div>
            <table id="composer_sortable" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 12px;"></th>
                        <th style="width: 240px;"></th>
                        <th>コンポーザー・キー</th>
                        <th>コンポーザー名</th>
                        <th nowrap style="width: 200px;">更新日時</th>
                        <th nowrap style="width: 120px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in drec_composer %}
                        <tr composer_key="{{ v.composer_key }}">
                            <td nowrap>
                                <span class="glyphicon glyphicon-menu-hamburger composer_sortable_handle" aria-hidden="true" style="cursor:move"></span>
                            </td>
                            <td>
                                <a href="{{ cs_url('/admin/composer_block/summary', [v.composer_key]) }}" class="btn btn-xs btn-info">コンポーザー・ブロック一覧</a>
                                <a href="{{ cs_url('/admin/composer_block/create', [v.composer_key]) }}" class="btn btn-xs btn-primary">登録</a>
                            </td>
                            <td>
                                {{ v.composer_key }}
                            </td>
                            <td>
                                {{ v.caption }}
                            </td>
                            <td>
                                {{ v.updated_at | date('Y/m/d H:i:s', "Asia/Tokyo") }}
                            </td>
                            <td style="text-align: right;">
                                <a href="{{ cs_url('/admin/composer/edit', [v.composer_key]) }}" class="btn btn-xs btn-primary">編集</a>
                                <a href="{{ cs_url('/admin/composer/delete', [v.composer_key]) }}" class="btn btn-xs btn-danger">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
