{% extends "/controller/admin/default.twig" %}

{% block area_body_tail %}
<script type="text/javascript">
    $(function() {
        $('#composer_sortable tbody').sortable({
            items: 'tr',
            handle: '.composer_sortable_handle',
            cursor: 'move',
            opacity: 0.5,
            stop: function (event, ui)
            {
                var params = [];
                $("#composer_sortable tbody tr").each(function() {
                    params.push($(this).attr('composer_key'));
                });
                $.ajax({
                    url: "{{ cs_url('admin/composer/summary/sort/') }}" + params.join('/')
                });
            }
        });
    });
</script>
{% endblock %}

{% block area_body %}

    <h1 class="display-4">
        コンポーザー一覧
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item active" aria-current="page">コンポーザー一覧</li>
        </ol>
    </nav>

    <div>
        <a href="{{ cs_url('/admin/composer/create') }}" class="btn btn-success">コンポーザー登録</a>
    </div>

    <br>

    {% if drec_composer|length == 0 %}
        <div class="alert alert-success" role="alert">コンポーザーが登録されていません。</div>
    {% else %}
        <p class="h4">コンポーザー一覧</p>
        <div class="table-responsive">
            <table id="composer_sortable" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 12px;"></th>
                        <th nowrap></th>
                        <th nowrap>コンポーザー・キー</th>
                        <th nowrap>コンポーザー名</th>
                        <th nowrap">更新日時</th>
                        <th nowrap"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in drec_composer %}
                        <tr composer_key="{{ v.composer_key }}">
                            <td nowrap>
                                <div class="composer_sortable_handle" style="cursor:move">[=]</div>
                            </td>
                            <td nowrap>
                                <a href="{{ cs_url('/admin/composer_block/summary', [v.composer_key]) }}" class="btn btn-xs btn-info">コンポーザー・ブロック一覧</a>
                                <a href="{{ cs_url('/admin/composer_block/create', [v.composer_key]) }}" class="btn btn-xs btn-primary">登録</a>
                            </td>
                            <td nowrap>
                                {{ v.composer_key }}
                            </td>
                            <td nowrap>
                                {{ v.caption }}
                            </td>
                            <td nowrap>
                                {{ v.updated_at | date('Y/m/d H:i:s', "Asia/Tokyo") }}
                            </td>
                            <td nowrap style="text-align: right;">
                                <a href="{{ cs_url('/admin/composer/edit', [v.composer_key]) }}" class="btn btn-xs btn-primary">編集</a>
                                <a href="{{ cs_url('/admin/composer/delete', [v.composer_key]) }}" class="btn btn-xs btn-danger">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
