<!DOCTYPE html>
<html lang="en">
<head>

{% block area_head_top %}
{% endblock %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    {% set prefix_title = '' %}
    {% if constant('CS_MODE') == 'development' %}
        {% set prefix_title = '[開発] ' %}
    {% endif %}
    {% if constant('CS_MODE') == 'staging' %}
        {% set prefix_title = '[ステージング] ' %}
    {% endif %}
    <title>{{ prefix_title }}{{ cms.site_name }}</title>

    <!-- MyStyle -->
    <link href="{{ cs_url("/assets/css/admin/mystyle.css") }}" rel="stylesheet">

{% block area_head_bottom %}
{% endblock %}

</head>
<body>

{% block area_body_top %}
{% endblock %}

{% if constant('CS_MODE') == 'development' %}

    {% if GLOBALVARS.CORE_DEBUG_ALERT|length != 0 %}
        {% for item in GLOBALVARS.CORE_DEBUG_ALERT %}
            <div class="alert alert-danger">{{ item }}</div>
        {% endfor %}
    {% endif %}

    {% if GLOBALVARS.CORE_DEBUG_DUMP|length != 0 %}
        {% for item in GLOBALVARS.CORE_DEBUG_DUMP %}
            <pre>{{ item }}</pre>
        {% endfor %}
    {% endif %}

{% endif %}

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ cs_url('admin/menu') }}">chopstick cms</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ cs_url('admin/menu') }}">管理画面</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ cs_url('/') }}">公開画面</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ cs_url("admin/page/summary/0") }}">ページ一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ cs_url("/admin/page/create") }}">ページ登録 <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a class="nav-link" href="{{ cs_url('/admin/auth/logout') }}">ログアウト</a></li>
                </li>
            </ul>
        </div>
    </nav>

{% block area_body %}
{% endblock area_body %}

</div>

<hr>

<div class="container">
    <p>chopstick cms</p>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha384-JPbtLYL10d/Z1crlc6GGGGM3PavCzzoUJ1UxH0bXHOfguWHQ6XAWrIzW+MBGGXe5" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

{% block area_body_bottom %}
{% endblock %}

</body>
</html>