{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <h1 class="display-4">
        スタック・グループ登録
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/stackgroup/summary', [ dset_stack_values.stackgroup_id] )}}">スタック・グループ一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">スタック・グループ登録</li>
        </ol>
    </nav>

    <form action="{{ cs_url('/admin/stackgroup/create/update') }}" method="post">
        <div class="card">
            <div class="card-header">スタック・グループ登録</div>
            <div class="card-body">
                {% for dset_stackgroup_error_message in dset_stackgroup_error_messages %}
                    {% if dset_stackgroup_error_message != '' %}
                        <div class="alert alert-danger" role="alert">{{ dset_stackgroup_error_message }}</div>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <label for="caption">スタック・グループ名</label>
                    <input type="text" value="{{ dset_stackgroup_values.caption }}" class="form-control" id="caption" name="caption" placeholder="スタック・グループ名">
                    {% if dset_stackgroup_error_messages.caption != '' %}
                        <p class="help-block">
                            <div class="alert alert-danger" role="alert">{{ dset_stackgroup_error_messages.caption }}</div>
                        </p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="登録">
                    <a href="{{ cs_url('/admin/stackgroup/summary') }}" class="btn btn-outline-info">戻る</a>
                </div>
            </div>
        <div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>

{% endblock %}