{% extends "/controller/admin/default.twig" %}

{% block area_body %}

    <h1 class="display-4">
        情報
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item active" aria-current="page">情報</li>
        </ol>
    </nav>

    <h2>PHP 情報</h2>
    <table class="table table-striped">
        <tr>
            <td>PHP バージョン</td>
            <td>{{ phpversion }}</td>
        </tr>
    </table>

    <h2>グローバル</h2>
    <pre>{{ globalvars_dump }}</pre>

    <h2>セッション</h2>
    <pre>{{ session_dump }}</pre>

    <h2>ACL</h2>
    <pre>{{ acl_dump|raw }}</pre>

{% endblock %}