{% extends "/csroot/controller/admin/default.twig" %}

{% block area_body %}

    <h1 class="display-4">
        コンポーザー削除
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ cs_url('csroot/admin/menu') }}">メニュー</a></li>
            <li class="breadcrumb-item"><a href="{{ cs_url('cscms/admin/composer/summary') }}">コンポーザー一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">コンポーザー削除</li>
        </ol>
    </nav>

    <form action="{{ cs_url('/cscms/admin/composer/delete/update') }}" method="post">
        <div class="card">
            <div class="card-header">コンポーザーの削除</div>
            <div class="card-body">
                <div class="form-group">
                    <label class="control-label caption">コンポーザー・キー</label>
                    <div>
                        <p class="form-control-static">{{ values.composer_key }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label caption">コンポーザー名</label>
                    <div>
                        <p class="form-control-static">{{ values.caption }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label caption">テンプレート</label>
                    <div>
                        <p class="form-control-static">{{ values.template_key }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label caption">出力モード</label>
                    <div>
                        <p class="form-control-static">{% if values.composer_output_mode == 1 %}標準{% else %}カスタム{% endif %}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label caption">コンポーザー・テンプレート</label>
                    <div>
                        <p class="form-control-static">
                            <pre>{{ values.composer_template }}</pre>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="削除">
                    <a href="{{ cs_url('/cscms/admin/composer/summary') }}" class="btn btn-outline-info">戻る</a>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="composer_key" value="{{ values.composer_key }}">
    </form>

{% endblock %}
