{% extends "/controller/admin/default.twig" %}

{% block area_body_tail %}
<script type="text/javascript">
    $(function() {
        $('#stackgroup_sortable tbody').sortable({
            items: 'tr',
            handle: '.stackgroup_sortable_handle',
            cursor: 'move',
            opacity: 0.5,
            stop: function (event, ui)
            {
                var params = [];
                $("#stackgroup_sortable tbody tr").each(function() {
                    params.push($(this).attr('stackgroup_id'));
                });
                $.ajax({
                    url: "{{ cs_url('admin/stackgroup/summary/sort/') }}" + params.join('/')
                });
            }
        });
    });
</script>
{% endblock %}

{% block area_body %}

    <div class="page-header">
        <h1>スタック・グループ一覧</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="{{ cs_url('admin/menu') }}">Home</a></li>
        <li class="active">スタック・グループ一覧</li>
    </ol>

    <div>
        <a href="{{ cs_url('/admin/stackgroup/create') }}" class="btn btn-success">スタッグ・グループ登録</a>
    </div>

    <br>

    {% if drec_stackgroup|length == 0 %}
        <div class="alert alert-success" role="alert">スタック・グループが登録されていません。</div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">スタック・グループ一覧</div>
            <table id="stackgroup_sortable" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 12px;"></th>
                        <th>スタック・グループ名</th>
                        <th nowrap style="width: 160px;">更新日時</th>
                        <th nowrap style="width: 120px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in drec_stackgroup %}
                        <tr stackgroup_id="{{ v.stackgroup_id }}">
                            <td nowrap>
                                <span class="glyphicon glyphicon-menu-hamburger stackgroup_sortable_handle" aria-hidden="true" style="cursor:move"></span>
                            </td>
                            <td>
                                <a href="{{ cs_url('/admin/stack/summary', [v.stackgroup_id]) }}" class="btn btn-xs btn-info">スタック一覧</a> 
                                <a href="{{ cs_url('/admin/stack/create', [v.stackgroup_id]) }}" class="btn btn-xs btn-success">登録</a>
                                {{ v.caption }}
                            </td>
                            <td>
                                {{ v.updated_at | date('Y/m/d H:i', "Asia/Tokyo") }}
                            </td>
                            <td style="text-align: right;">
                                <a href="{{ cs_url('/admin/stackgroup/edit', [v.stackgroup_id]) }}" class="btn btn-xs btn-primary">編集</a>
                                <a href="{{ cs_url('/admin/stackgroup/delete', [v.stackgroup_id]) }}" class="btn btn-xs btn-danger">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
